services:
  backend:
    image: ${AWS_ECR_LOGIN_URI}/${ECR_BACKEND_REPO}:${IMAGE_TAG}
    container_name: myprofile-backend
    ports:
      - "8000:8000"
    volumes:
      - /home/ubuntu/models:/models:ro

    restart: unless-stopped
  


    environment:
      INTENT_MODEL_PATH: /models/profileIntentLLM
      PYTHONPATH: /app
      PYTHONUNBUFFERED: "1"

      NVIDIA_API_KEY: ${NVIDIA_API_KEY}
      PINECONE_API_KEY: ${PINECONE_API_KEY}

      DATABASE: ${DATABASE}
      DATABASE_USER: ${DATABASE_USER}
      PASSWORD: ${PASSWORD}
      HOST: ${HOST}
      DATABASE_PORT: ${DATABASE_PORT}
      DB_NAME: ${DB_NAME}

      SECRET_KEY: ${SECRET_KEY}
      ALGORITHM: ${ALGORITHM}
      EXPIRE_TIME: ${EXPIRE_TIME}
      ADMIN_EMAIL: ${ADMIN_EMAIL}
      APP_PASSWORD: ${APP_PASSWORD}


  frontend:
    image: ${AWS_ECR_LOGIN_URI}/${ECR_FRONTEND_REPO}:${IMAGE_TAG}
    container_name: myprofile-frontend
    ports:
      - "3000:80"
    restart: unless-stopped
    depends_on:
      - backend
