# ================= CORE API =================
fastapi
uvicorn[standard]
python-multipart
orjson

# ================= DATABASE =================
SQLAlchemy
alembic
psycopg2-binary

# ================= AUTH =================
python-jose
passlib[bcrypt]
bcrypt
email-validator
langchain-nvidia-ai-endpoints
# ================= UTIL =================
python-dotenv
requests
httpx
rich
tqdm
click
dnspython

# ================= ASYNC =================
aiofiles

# ================= DATA =================
numpy
pandas
scipy
scikit-learn
torch
# ================= NLP / RAG =================
langchain
langchain-openai
langchain-pinecone
pinecone-client
tiktoken
sentencepiece
transformers
huggingface-hub
