
.container-detail {
    padding-top: 80px;              
    margin: auto;
    display: flex;
    justify-content: space-between;  
    align-items: flex-start;
    width: 850px;                   
    gap: 60px;
    margin-bottom: 200px;
    font-size: 15px;

    opacity: 0;
    transform: translate3d(0, 120px, 0);
    animation: smoothFadeUp 0.9s ease-out forwards;
    will-change: transform, opacity;
}


@keyframes smoothFadeUp {
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}


.details {
    max-width: 38%;
    padding-right: 20px;
    text-align: start;
    margin-top: 15px;
}

.details h1 {
    font-size: 35px;
    margin-bottom: 15px;
}
.details h3 {
    font-size: 25px;
    
}

.details p {
    margin-bottom: 14px;
    color: #555;
     margin-bottom: 12px;
}

.details h3 {
    margin-top: 18px;
    font-weight: 600;
     margin-bottom: 12px;
}


.form-detail {
    width: 62%;
}

.first-input {
    display: flex;
    gap: 20px;           
    text-align: start;
}

.first-input div {
    width: 100%;
}

.first-input input {
    height: 38px;
    width: 100%;
}


label {
    display: block;
    margin-bottom: 6px;
    font-weight: 500;
}

input {
    border-radius: 12px;
    border: 1px solid #ccc;
    padding: 6px 10px;
    font-size: 16px;
}

textarea {
    border-radius: 12px;
    font-size: 16px;
    width: 100%;
    border: 1px solid #ccc;
    padding: 8px 10px;
    resize: none;
}


.btn-div {
    margin-top: 25px;
}

.btn {
    width: 130px;              
    height: 40px;
    font-size: 18px;
    border-radius: 13px;
    background-color: black;
    color: whitesmoke;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    animation: btn-color 0.3s ease-in-out forwards;
    transform: scale(1.05);
}

@keyframes btn-color {
    from { background-color: black; }
    to {
        background-color: transparent;
        color: black;
        border: 1px solid black;
    }
}


@media (max-width: 1024px) {
    .container-detail {
        width: 90%;
        gap: 40px;
    }
}

@media (max-width: 768px) {
    .container-detail {
        flex-direction: column;
        padding-top: 120px;
    }

    .details,
    .form-detail {
        max-width: 100%;
        width: 100%;
    }
}
