* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.header-home {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  list-style: none;
  gap: 14px;

  width: 100%;
  height: 54px;
  padding: 0 40px; 

  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

  z-index: 9999;
}




.header-home li:not(.logo):first-of-type {
  margin-left: auto;
}


.logo {
  margin-right: auto;
  font-size: 40px;
  font-weight: bold;
}

.header-home li a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  display: inline-block;
  transition: all 0.3s ease;
}

.header-home li a:hover {
  color: rgb(70, 172, 241);
  transform: scale(1.15);
  cursor: pointer;
}


